.main-content-container{
    margin: 40px;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin:30px 0px 70px 0px;

}

.loader-container-main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:2000px){
    .main-content-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (max-width:1020px){
    .main-content-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width:600px) {
    .main-content-container{
        display: flex;
        flex-wrap: wrap;
    }
}



